{% extends 'usuarios/base_panel.html' %}
{% block content %}
  <h1>Clientes</h1>
  <a href="{% url 'cliente_crear' %}" class="btn-agg">+ Agregar Cliente</a>

  {% if clientes %}
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Peso</th>
          <th>Altura</th>
          <th>Edad</th>
          <th>Correo</th>
          <th>Género</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for c in clientes %}
          <tr>
            <td>{{ c.user.username }} {{c.user.first_name}} {{c.user.last_name}}</td>
            <td>{{ c.Peso }}</td>
            <td>{{ c.Altura }}</td>
            <td>{{ c.Edad }}</td>
            <td>{{ c.Correo }}</td>
            <td>{{ c.Genero }}</td>
            <td>
              <a href="{% url 'cliente_editar' c.pk %}">Editar</a> |
              <a href="{% url 'cliente_eliminar' c.pk %}">Eliminar</a> |
              <a href="{% url 'cliente_rutinas' c.pk %}">Ver rutina</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay clientes aún.</p>
  {% endif %}
{% endblock %}
